/* 
SELETORES: definem em quais elementos nós vamos aplicar o CSS
    1. Seletor de Tag/Tipo
    2. Seletor de Id
    3. Seletor de Classes
    4. Seletor de Universal
    5. Seletor de atributo
*/
* {
    font-weight: bold;
}

h1 {
    background: darkblue;
    color: lightgreen;
}

div {
    background: lightblue;
    color: darkblue;
}

li {
    background: lightgreen;
}

#texto-boas-vindas {
    background: red;
    color: white;
}

.seletores-mais-comuns {
    color: rgb(219, 17, 17);
}

.texto-maiusculo {
    text-transform: uppercase;
}

[title] {
    color: rgb(211, 17, 255);
}

[title="atributo-valor"] {
    color: rgb(0, 0, 0);
}

[title~="gato"] {
    background: rgb(0, 0, 0);
}

[title|="cobra"] {
    background: rgb(198, 195, 27);
}

/* Prefixo */
[href^="http://"] {
    background: blue;
    color: white;
}

/* Sufixo */
[href$="login"] {
    background: rgb(255, 0, 251);
    color: white;
}

/* Procurar uma palavra independente da posição */
[href*="login"] {
    background: rgb(255, 0, 0);
    color: white;
}
