/* 
    Combinadores: qual tipo de relação entre 2 seletores.
    1. Combinador descendente (espaço)
    2. Combinador filho (>)
    3. Combinador irmão adjacente (+)
    4. Combinador irmão em geral (~)

    [SELETOR] [COMBINADOR] [SELETOR]
*/

/* Combinador filho (>) */
div > p {
    background: red;
}

span > p {
    background: rgb(0, 255, 183);
}